[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=ddns
Group=ddns
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/ddns
ExecStart=/usr/bin/gunicorn3 --pid /run/gunicorn/pid --bind unix:/run/gunicorn/socket ddns:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
